version: 2.1
orbs:
  windows: circleci/windows@5.1.1
  coveralls: coveralls/coveralls@2.2.5
jobs:
  test:
    description: Setup and run application tests
    executor:
      name: windows/default
    steps:
      - checkout
      # Install .NET 8 SDK
      - run:
          name: Install .NET 8 SDK
          command: |
            choco install dotnet-8.0-sdk -y
            dotnet --info
      - restore_cache:
          keys:
            - dotnet-packages-v1-{{ checksum "RealEstateListingApi/RealEstateListingApi.csproj" }}
      - run:
          name: "Install project dependencies"
          command: dotnet.exe restore
      - save_cache:
          paths:
            - C:\Users\circleci\.nuget\packages
          key: dotnet-packages-v1-{{ checksum "RealEstateListingApi/RealEstateListingApi.csproj" }}
      - run:
          name: "Run Application Tests"
          command: dotnet.exe test --collect:"XPlat Code Coverage" --settings:"coverage.runsettings"          

      - run:
          name: "Print Working Directory"
          command: pwd
      - coveralls/upload
  build:
    description: Build application with Release configuration
    executor:
      name: windows/default
    steps:
      - checkout
       # Install .NET 8 SDK
      - run:
          name: Install .NET 8 SDK
          command: |
            choco install dotnet-8.0-sdk -y
            dotnet --info
      - run:
          name: "Build Application according to some given configuration"
          command: dotnet.exe build --configuration Release
workflows:
  test_and_build:
    jobs:
      - test
      - build:
          requires:
            - test